---
layout: default.hbs
subject: Welcome to Hoodyrat!
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>

  </head>
  <body>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
			 <table class="row">
			    <tr>
			      <td class="wrapper">

			        <table class="twelve columns">
			          <tr>
			            <td>
			            <img src="../src/img/hoodyratheader.png">
			            </td>
			          <tr>
			            <td class="redbar"></td>
			            <td class="expander"></td>
			          </tr>
			        </table>
			      </td>
			    </tr>
			  </table>
			

			  <table class="row">
		        <tr>
		          <td class="wrapper">
		          	<table class="three columns">
		          	  <tr>
		          	  	<td></td>
		          	  </tr>
		          	</table>
		          </td>
		          <td class="wrapper">
		      	    <table class="six columns contentcontainer">
		      	      <tr>
		      	        <td class="contentwrapper">
		      	          <span>Hey Thanks for joining us!</span>
		      	          <p>
		      	          	I'm so excited to see you here! We're going to be doing lots of cool stuff really soon, so keep your eyes open for another email in your inbox soon.<br>
		      	          	<br>
		      	          	See you then!<br>
		      	          	Hoody Rat
		      	          </p>
		      	        </td>			      	      	
		      	      </tr>			      	    	
		      	    </table>
		      	  </td>
		      	  <td class="wrapper last">
		      	  	<table class="three columns">
		      	  	  <tr>
		      	  	  	<td></td>
		      	  	  	<td class="expander"></td>
		      	  	  </tr>
		      	  	</table>
		      	  </td>
		      	</tr>
		      </table>

		      <table class="row">
		        <tr>
		          <td class="wrapper">

		            <table class="four columns">
		              <tr>
		                <td>
		                
		                </td>
		                <td class="expander"></td>
		              </tr>
		            </table>
		          </td>

		          <td class="wrapper">

		            <table class="four columns">
		              <tr>
		                <td>			                
		                </td>
		                <td class="expander"></td>
		              </tr>
		            </table>
		          </td>


		          <td class="wrapper last">
		            <table class="four columns">
		              <tr>
		                <td>

		                  <img src="../src/img/radarrat.jpg" class="radarrat">

		                </td>
		                <td class="expander"></td>
		              </tr>
		            </table>
		          </td>


		        </tr>
		      </table>
	      </center>
        </td>
      </tr>
    </table>
  </body>
</html>
