---
layout: default.hbs
subject: Your Repair Is Finished!
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
	<table class="logo-wrapper" cellpadding="0" cellspacing="0">
		<tr>
			<td class="align-center header">
				<a href="https://www.icracked.com" target="_blank">
					<img src="../src/img/new-logo.png" alt="iCracked" width="150" height="50">
				</a>
			</td>
		</tr>
	</table>
</div>
<table class="align-left" cellpadding="0" cellspacing="0" class="container">
	<tr>
		<td class="wrapper">
			<table cellpadding="0" cellspacing="0" class="main">
				<tr class="body-section">
					<td>
						<table class="title-wrapper" cellpadding="0" cellspacing="0">
							<tr>
								<td class="email-title">
								<h1>Thanks for choosing iCracked</h1>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="body-section content content-block">
					<td>
						<table class="text-wrapper" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<p class="body-text align-left">
									We'd love to hear about your experience with our service. Our 4 question survey should only take a few moments of your time, but your answers are invaluable for us to make the experience even better.
									</p>
								</td>
							</tr>
						</table
					</td>
				</tr>
				<tr class="btn align-center">
					<td class="button-td">
						<a href="#">
						<strong><b>
						Take our short survey
						</strong></b>
						</a>
					</td>
				</tr>
				<tr class="content">
					<td>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td> <!-- Repair Details Title -->
									<table class="repair-details" cellpadding="0" cellspacing="0">
										<tr>
											<td>
												<p>
												<strong><b>
												Your Repair Details
												</strong></b>
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="content content-block mega-table-container">
					<td>
						<table class="mega-table" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<table class="info-table" cellpadding="0" cellspacing="0">
										<tr>
											<td class="details-title-wrapper" colspan="2">
												<span class="details-title">
												Local iTech Details
												</span>
											</td>
										</tr>
										<tr>
											<td>
												<table cellpadding="0" cellspacing="0"  class="details">
													<tr>
														<td width="60" height="60">
															<img src="../src/img/itech-placeholder.jpg"
														</td>
													</tr>
												</table>
											</td>
											<td>
												<table cellpadding="0" cellspacing="0">
													<tr>
														<td>
														<span class="dynamic">
														Kenrik March
														</span>
														</td>
													</tr>
													<tr>
														<td>
														<span class="dynamic">
														650 437 8417
														</span>
														</td>
													</tr>
													<tr>
														<td>
														<span class="dynamic dynamic-link">
														kenrik@icracked.com
														</span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
								<td>
									<table class="info-table" cellpadding="0" cellspacing="0">
										<tr>
											<td class="details-title-wrapper" colspan="2">
												<span class="details-title">
												Your Service Details
												</span>
											</td>
										</tr>
										<tr>
											<td>
												<table class="details" cellpadding="0" cellspacing="0">
													<tr>
														<td>
															<span class="static">
															Order #
															</span>
														</td>
														<td>
															<span class="dynamic">
															123456789
															</span>
														</td>
													</tr>
													<tr>
														<td>
															<span class="static">
															Date
															</span>
														</td>
														<td>
															<span class="dynamic">
															May 19, 2015
															</span>
														</td>
													</tr>
													<tr>
														<td>
															<span class="static">
															Model
															</span>
														</td>
														<td>
															<span class="dynamic">
															iPhone 5C
															</span>
														</td>
													</tr>
													<tr>
														<td>
															<span class="static">
															Issue
															</span>
														</td>
														<td>
															<span class="dynamic">
															Screen Replacement
															</span>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td class="signature-container" colspan="2">
									<span class="details-title">
									Work authorization Signature
									</span>
								</td>
							</tr>
							<tr>
								<td class="auth-image">
								<img src="../src/img/signature-placeholder.jpg">
								
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr class="content content-block">
					<td class="body-text">
						<p>
						iCracked repairs come with our <b>Lifetime Warranty</b>. For details on what is covered please, <a class="body-link" href="#">review terms and conditions</a>
						<br>
						<br>
						If you experience issues (other than more accidental damage), please <a class="body-link" href="#">submit a warranty request</a> and we'll gladly replace the parts at no cost to you.
						</p>
					</td>
				</tr>
				<tr class=" content content-block">
					<td>
						<p>
						Your team <a class="body-link" href="#">@iCracked</a> 
						</p>
					</td>
				</tr>
				<tr class=" content content-block">
					<td>

					<!-- NEW AD -->
						<table>
							<tr class="ad-row">
								<td "ad-container">
									<img class="ad-image" src="https://www.icracked.com/public/img/email/referral-dollar.jpg">
								</td>
								<td>
									<h4 class="ad-header">
									P.S. We'll purchase your old devices!
									</h4>
									<span class="ad-text">
									Have an extra iPhone, iPad, or Samsung device lying around? No matter the condition, iCracked will purchase your devices. Enter the promo code ICRACK10 to receive an additional $10. <br>
									<a href ="#">
									</span>
								</td>
							</tr>
						</table>
					<!-- NEW AD END -->

						<!-- OLD AD -->
						<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateExtras" align="center">
							<tr>
								<!-- iCracked Links -->
								<td valign="top" class="extrasContent" style="color: #505050; font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 150%; padding: 20px 20px 20px 20px;" align="center">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr align="center">
											<td valign="top" style="font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif; padding-right:20px;" class="adImage">
												<img src="https://www.icracked.com/public/img/email/referral-dollar.jpg" alt="referral image" width="76" height="84" bgcolor="#FFFFFF" style="height: 84px; width: 76px; outline: none; text-decoration: none;"/>
											</td>
											<td style="font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif; font-size: 16px; text-align: left;" >
												<h2 style="margin: 0px;">We Purchase Unused/Broken Devices!</h2>
												<span style="font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif; color: #505050; font-weight: normal; text-decoration: none; line-height: 150%; font-size: 15px;" align="left">Have an extra iPhone or iPad lying around? Upgrading to a new device? No matter the condition, iCracked will purchase your unused devices from you. Enter the promo code <b>ICRACK10</b>, and get and extra $10.</span>
												<br />
												<a id="desktop-referral-button" href="https://www.icracked.com/sell" style="color: #00AAE8; font-family: 'PT Sans', Verdana, Helvetica, Arial, sans-serif; font-weight: bold; text-decoration: underline; font-size: 16px" align="left">
													<span style="color: #00AAE8;" align="left">
														<b>Find Your Devices Value Today!</b>
													</span>
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<!-- OLD AD END -->

					</td>
				</tr>
				<tr class="content content-block">
					<td>
						Footer area
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div class="footer">
	<table>
		<tr>
			<td class="align-center">
				
			</td>
		</tr>
	</table>
</div>